a,
.link {
  color: #428bca;
}
a:hover {
  color: #3071a9;
}
.widget {
  color: #fff;
  background: #428bca;
}
#header {
  color: #6c94be;
  border-top: dotted 1px black;
  border-bottom: solid 2px black;
}
.bordered {
  border-top: dotted 1px black;
  border-bottom: solid 2px black;
}
